*.iml
.gradle
.kotlin/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild
.cxx
*.apk
*.aab
*.jks
*.keystore
*.hprof
/app/release/
/app/schemas/
node_modules/
.wrangler/
expo-screenshots/
